<!DOCTYPE html>
<html lang="en">
{% include "_video.header.html" %}
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="d-block text-center p-4 rounded-2 bg-card">
            <p class="h4 unc"><mark class="rounded-1 text-desc bg-main">Video Embed</mark></p>
            
            <!--<p id="title" class="h5 mt-4 fw-bold"></p>-->
            <a id="desc_uploader" class="text-desc t-2s-ei"></a>
        </div>
    </div>
{% include "_video.footer.script.html" %}
    <script>
        const desc_uploader = "{{ desc.uploader }}";
    </script>
    <script>
        $(document).ready(function() {
            $("#desc_uploader").text(desc_uploader);
            $("p.h4.unc")[0].append("<iframe id=\"Embed\" width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/{{ vid }}\" title=\"YouTube video playe\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>");
        });
    </script>
</body>
</html>