<!DOCTYPE html>
<html lang="en">
{% include "_video.header.html" %}
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="d-block text-center p-4 rounded-lg bg-card">
            <p class="h4 unc"><mark class="text-desc">Video Embed</mark></p>
            <p id="title" class="h5 bold"></p>
            <p id="desc" class="mb-0 text-desc"></p>
        </div>
    </div>
{% include "_video.footer.script.html" %}
    <script>
        $(document).ready(function() {
            $("#title").text("{{ title }}_title");
            $("#desc").text("{{ desc }}");
        });
    </script>
</body>
</html>